
<!--
File: all_jokes.html
# Author: Daniel Arteaga (d4nyart@bu.edu), 11/14/2025
Description: Template for displaying all jokes in the dadjokes 
web application.
-->
{% extends 'dadjokes/base.html' %}

{% block title %}All Jokes{% endblock %}

{% block content %}
<h2>All Jokes</h2>
    {% for joke in jokes %}
    <div class="joke">
        <p>{{ joke.text }}</p>
        <div class="meta">
            Contributed by: {{ joke.contributor }}<br>
            Posted: {{ joke.timestamp|date:"F j, Y, g:i a" }}<br>
            <a href="{% url 'joke_detail' joke.pk %}">View details</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
