
<!--
File: picture_detail.html
# Author: Daniel Arteaga (d4nyart@bu.edu), 11/14/2025
Description: Template for displaying a single picture in the 
dadjokes web application.
-->
{% extends 'dadjokes/base.html' %}

{% block content %}
<h2>Picture #{{ picture.pk }}</h2>

<div class="picture">
    <img src="{{ picture.image_url }}" alt="Picture {{ picture.pk }}">
    <div class="meta">
        Contributed by: {{ picture.contriubutor }}<br>
        Posted: {{ picture.timestamp|date:"F j, Y, g:i a" }}
    </div>
</div>

<p><a href="{% url 'all_pictures' %}">Back to all pictures</a></p>
{% endblock %}
