{% extends 'mini_insta/base.html' %}

{% block content %}
<div class="post-detail">
    <div class="post-header">
        <div class="post-profile">Post {{post.pk}} by @{{ post.profile.username }}</div>
        <div class="post-timestamp">on {{ post.timestamp|date:"F d, Y g:i A" }}</div>
    </div>
    <div class="post-caption">{{ post.caption }}</div> 
    <div class="post-content">
        {% for photo in post.get_all_photos %}
            <img src="{{ photo.image_url }}" alt="Post photo" class="post-image">
        {% endfor %}
    </div>
</div>
{% endblock %}